# macOS system files
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/

# Compiled C extensions
*.so

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Distribution files
dist/
build/
*.egg-info/